.category-card .container {
  max-width: 1234px;
}

.category-card .container .title {
  margin-bottom: 5px;
  color: #003e6c96;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 1.5px #003e6c96;
}

.category-card .wrapper {
  row-gap: 46px;
  justify-content: flex-start !important;
}

.category-card .wrapper .card {
  border-radius: 12px;
  width: 16rem;
  border: 0px;
  box-shadow: 0px 3px 8px 0px #80808045;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.category-card .wrapper .card:hover {
  transform: translateY(-7px);
}

.category-card .wrapper .images img {
  height: 248px;
  object-fit: cover;
  width: 260px;
  border-radius: 12px 12px 0px 0px;
}

.category-card .wrapper .images .image-title {
  bottom: -15px;
}

.category-card .wrapper .images p {
  /* background-color: #00133e; */
  background: linear-gradient(135deg, #00355c, #004679, #0069b5, #007cd3) !important;
  color: white !important;
  font-size: 11px !important;
  padding: 6px 20px !important;
  border-radius: 12px 12px 0px 0px !important;
  z-index: 9 !important;
}


.hover-overlay {
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  transform: translateY(100%);
  transition: transform 0.7s ease;
  border-radius: 12px 12px 0px 0px;
}

.category-card .wrapper .images .hover-overlay button {
  border-radius: 7px !important;
  padding-bottom: 7px !important;
  font-weight: 600 !important;
  cursor: pointer !important;
  background: linear-gradient(135deg, #00355c, #004679, #0069b5, #007cd3) !important;
  color: white !important;
  font-size: 11px !important;
  border: 0 !;
  transition: all 0.5s ease-in-out;
}

.images:hover .hover-overlay {
  transform: translateY(0);
}

/* .category-card .wrapper .images .icons i {
  color: #c8c8c8;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-size: 16px;
} */
/*
.category-card .wrapper .images .icons i:hover {
  transform: translateY(-1.9px);
} */

.category-card .wrapper .images {
  position: relative;
  overflow: hidden;
}

.category-card .wrapper .card-body {
  background-color: #f5f7f9;
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 5px;
}

.category-card .wrapper .card-body h3 {
  font-size: 1.13rem;
  color: #00004a;
}

.category-card .wrapper .card-body .specialty {
  font-size: 10px;
  color: #00004a;
}

.category-card .wrapper .card-body .description {
  font-size: 10px;
  color: grey;
  padding: 0px 20px 0px 0px;
}

.category-card .wrapper .card-body .availableDate {
  font-size: 13px;
}

.category-card .wrapper .card-body .availableDate i {
  color: #006ab666;
}
