<div class="row  custom-row">
  @for (category of categories; track $index) {
    <div class="col-md-6 col-lg-4 mb-5 d-flex justify-content-center align-items-center">
      <div class="card cardd">
        <div class="card-body pt-5">
          <h5 class="card-subtitle mb-2 fw-bold">
            <i class="{{ category.icon }}"></i>
            {{ category.title | uppercase }}
          </h5>
          <p class="card-text mb-5">{{ category.text }}</p>
          <a 
            [routerLink]="['/category-page', category.title]"
            class="card-link fw-bold">
            Go To Category
          </a>
        </div>
      </div>
    </div>
  }
</div>
