<footer class="mt-4">
  <div class="container-fluid">
    <div class="wrapper ">
      <div class="top-footer row justify-content-center pb-4 pt-4 px-3">

        <!-- Logo + Icons -->
        <div class="logo-icons col-4 mb-1">
          <div class="logo pb-2">
            <img src="logo2.png" alt="" style="width: 227px;">
          </div>
          <p>CureConnect is dedicated to connecting patients with qualified and trusted doctors, ensuring you get the
            best care possible anytime, anywhere.</p>
          <h2>Follow Us</h2>
          <div class="icons d-flex mb-1">
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
        </div>

        <!-- Links -->
        <div class="links col-3 row justify-content-center">
          <h4>Quick Links</h4>
          <ul class="d-flex flex-column justify-content-evenly">
            <li>Home</li>
            <li>internal medicine</li>
            <li>ophthalmology</li>
            <li>cardiology</li>
            <li>pediatrics</li>
            <li>dentistry</li>
          </ul>
        </div>

        <!-- Contact Form -->
        <div class="message col-3 d-flex flex-column">
          <h4>Contact us</h4>
          <p>We’d love to hear from you! Please fill out the form below, and our team will respond as soon as possible.
          </p>
          <form class="d-flex flex-column pt-2 gap-3" #contactForm="ngForm" (ngSubmit)="handleSubmit(contactForm)">

            <textarea name="message" required placeholder="please enter your message" ngModel
              #message="ngModel"></textarea>

            @if(message.invalid && (message.touched || contactForm.submitted)){
            @if(message.errors?.['required']){
            <div id="messageHelp" class=" mt-0 form-text text-danger">
              message is required.
            </div>
            }
            }

            <button type="submit">Send</button>
          </form>
        </div>
      </div>

      <!-- Bottom footer -->
      <div class="bottom-footer row text-center">
        <p class="col-12">
          Copyright © 2025 CureConnect. All Right Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
