footer {
  padding-top: 30px;
  padding-top: 30px;
  background: linear-gradient(135deg, #00365d, #00375f, #00497d, #005693);
  box-shadow: 0px 0px 6px 6px #004170b8;
}

footer h4 {
  color: #f3f3ff;
  font-size: 21px;
}

footer .wrapper .top-footer .links ul {
  list-style: none;
  gap: 15px;
  padding-left: 20px;
  padding-top: 10px;
}

footer .wrapper .top-footer .links ul li {
  color: #c0c7ce;
  font-weight: 400;
  font-size: 14px;
}

footer .wrapper .top-footer .icons {
  gap: 12px;
}

footer .wrapper .top-footer .icons i {
  color: #ffffff;
  font-size: 13px;
  background: #9393935c;
  width: 34px;
  border-radius: 7px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

footer .top-footer form textarea {
  border: 0;
  padding: 5px 14px 7px;
  font-size: 12px;
  border-radius: 12px;
  background: #d2d2d2c9;
  color: #000000;
  resize: none;
}

footer .top-footer form button {
  background-color: #aaaaaa3b;
  border: 0px;
  width: 43%;
  color: #ffffff;
  border-radius: 9px;
  padding: 4px;
  margin-left: 3px;
}

footer .top-footer p {
  color: #bcbcbc;
  font-size: 12px;
  padding-right: 23px;
}

footer .top-footer h2 {
  color: #e5e5ff;
  font-size: 18px;
}

footer .top-footer .logo-icons p {
  padding-right: 41%;
}

footer .wrapper .bottom-footer {
  font-size: 12px;
  color: #b3b3b3;
  padding: 19px 0px 5px 0px;
  box-shadow: inset 0px 1px 0px 0px #a3a3a391;
}

.text-danger {
  color: rgb(255 105 105) !important;
}

textarea::placeholder {
  color: rgb(115, 115, 115);
  font-size: 14px;
  padding-top: 3px;
}
