.contain {
  background-color: var(--header-bg-color);
  width: 218vh;
  height: 63vh;
}

.headline {
  position: relative;
  margin-top: 10rem;
}

.list-style {
  margin-top: 5rem;
  display: flex;
}
