
<form [formGroup]="login"(ngSubmit)="handleSubmit()">
    <h2>Login</h2>
    <div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input 
    type="email"
    class="form-control"
    id="email"
    aria-describedby="emailHelp"
    formControlName="email"
  >
  @if(login.get('email')?.invalid &&(login.get('email')?.touched || submitted)) {
      @if(login.get('email')?.errors?.['required']) {
        <div id="emailHelp" class="form-text text-danger">Email is required</div>
      }
      @else if(login.get('email')?.errors?.['email']) {
        <div id="emailHelp" class="form-text text-danger">Please enter a valid email</div>
      }
  }
</div>
 <div class="mb-3">
  <label for="password" class="form-label">Password</label>
  <input 
    type="password"
    class="form-control"
    id="password"
    formControlName="password"
  >
  @if(login.get('password')?.invalid && (login.get('password')?.touched || submitted)) {
    @if(login.get('password')?.errors?.['required']) {
      <div class="form-text text-danger">Password is required</div>
    }
    @else if(login.get('password')?.errors?.['minlength']) {
      <div class="form-text text-danger">Password must be at least 8 characters</div>
    }
  }
</div>
<button type="submit" class="btn btn-primary w-100">Login</button>
<a routerLink="/signup" class="nav-link" class="link">create an account</a>

</form>
